*~
/bin/
.DS_Store
thumbs.db
local.properties
/mode/
16*
*master.zip
/examples/

# openFramework .zip
of_*.zip

# ESP and dependencies
core/include/*
core/library/*
core/Resources/*

# the dist files
ESPMode.zip
ESPMode.txt
